
section{
    margin: 20px;
}
pre{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 500px;
}
code{
    font-family: Consolas;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
}
.class{
    font-family: Consolas;
    font-size: 12px;
}
.full-width{
    display: inline-block;
    width: 100%;
}
.grid_background{
    background-color: #363636; 
    
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px; 
    
}