//------------------------------------------------------------------------------
// Imports
//------------------------------------------------------------------------------
@import "globals/variables"; // import variable
@import "utils/grid"; // import TOAST grid
@import "components/icons";
@import "components/menu"; // import menu
@import "components/search-bar"; // import search-bar
@import "components/option-selector";
@import "components/arrow-box";
@import "components/account-menu";
@import "components/lists";
@import "components/modal";

//------------------------------------------------------------------------------
// Import exemple style (can be delete)
//------------------------------------------------------------------------------
@import "exemple";

//------------------------------------------------------------------------------
// Initialise
//------------------------------------------------------------------------------
* {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $base-font-size;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  //font-size: 1.6rem; // Cheat typo — 1px = 1rem || focus on 'rem' units
  box-sizing: border-box;

  /* Font Preset */
  font-family: $font-family;
  line-height: $base-line-height;
  font-weight: $base-font-weight;

  /* Smoothing */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  text-rendering: optimizeLegibility !important;

  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px !important;

  /* Font Ligature */
  font-variant-ligatures: normal;

  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  background: $header-bg;
  box-shadow: $header-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: $header-zindex;

  a.header-brand {
    text-decoration: none;
  }

  .header-brand {
    display: flex;
    height: $header-height;
    align-items: center;

    .header-logo {
      height: $header-height;
      width: $header-height;
      padding: 20px;
    }
    .header-text {
      color: $primary;
      font-weight: 800;
      font-size: 27px;
      line-height: 11px;
      letter-spacing: 1px;
    }
  }
}

.container {
  flex: 1 0 auto;
  //margin: 150px auto 0 auto;
  width: $site-width;
}

.container-full {
  background: #f2f2f2;
  margin-top: 90px; //height of header
  flex: 1 0 auto;
  padding: 20px;
}

footer {
  position: relative;
  background-color: $primary;
  height: 475px;
  flex-shrink: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    a {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: $white;
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #ffffff;
    padding: 20px;
  }
}

//------------------------------------------------------------------------------
// Heading
//------------------------------------------------------------------------------
%heading {
  font-weight: $bold;
  font-family: $font-family;
  text-transform: uppercase;
  color: $primary;
}

h1,
.h1 {
  @extend %heading;
  font-size: $h1-font-size;
  line-height: $h1-line-heights;
  letter-spacing: $h1-letter-spacing;
}

h2,
.h2 {
  @extend %heading;
  font-size: $h2-font-size;
  line-height: $h2-line-heights;
  letter-spacing: $h2-letter-spacing;
}

h3,
.h3 {
  @extend %heading;
  font-size: $h3-font-size;
  line-height: $h3-line-heights;
  letter-spacing: $h3-letter-spacing;
}

//------------------------------------------------------------------------------
// Text *
//------------------------------------------------------------------------------

p {
  line-height: 23px;
  letter-spacing: 1.78182px;
  color: $black;
}

a {
  font-weight: $bold;
  line-height: 12px;
  letter-spacing: 0.72px;
  color: $dark;
}

.text-light {
  color: $light;
}

//------------------------------------------------------------------------------
// Button *
//------------------------------------------------------------------------------
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
  border-radius: 60px;
  background: $primary;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.btn-secondary{
  background: $secondary;
}

.btn-alert{
  background: $alert;
}

.btn-warning{
  background: $warning;
}

.btn-success{
  background: $success;
}

.btn-light{
  background: $light;
}

.btn-dark{
  background: $dark;
  color: $light;
}

//------------------------------------------------------------------------------
// Form *
//------------------------------------------------------------------------------
input {
  border: none;
  padding: 10px;
  min-width: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 5px;
  &::placeholder {
    color: #292929;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.2px;
  }
  &.placeholder-primary{
    &::placeholder {
      color: $primary;
    }
  }
}
