.account-dropdown {
  &.account-header {
    position: absolute;
    top: 0;
    right: 140px;
  }
  .account-content {
    display: flex;
    align-items: center;
    height: 90px;
    .account-name {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.84px;
      color: #000000;
    }
    img {
      margin: 0 25px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .account-menu {
    position: fixed;
    top: 115px;
    width: 250px;
  }
}
