.box {
  position: fixed;
  background: $white;
  width: 500px;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.05);
  
  .title {
    padding: 0 10px;
    box-shadow: 10px 25px 50px -15px #111;
  }
  .content {
    padding: 10px;
  }
}

.arrow-box-top-left, 
.arrow-box-top-right{
  &:after,
  &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $white;
    border-width: 20px;
    margin-left: -20px;
  }
}

.arrow-box-top-left{
  &:after,
  &:before {
    left: 80px;
  }
}

.arrow-box-top-right{
  &:after,
  &:before {
    right: 80px;
  }
}
