ul{
    list-style-type: none;
    li{
        padding: 5px 0;
    }
}

.list-img {
  .list-item {
    display: flex;
    margin: 10px 0;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    .list-content {
      margin: 0 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .list-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.84px;
        color: #000000;
      }
      .list-description {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.84px;
        color: #bcbcbc;
      }
    }
  }
}
