$header-height: 90px;
$header-bg: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F3F3F3;
$header-shadow: 0px 10px 18px rgba(0, 0, 0, 0.05);
$header-zindex: 200;

$menu-zindex: 90;

$divider-width: 24px;
$divider-height: 2px;
$divider-space: 8px;
$divider-color: #000;

.menu{
  z-index: $menu-zindex;
   &.menu-right,  &.menu-left{
   position: absolute;
   top: 0; 
  }
  &.menu-right{
   right: 0;
  }
  &.menu-left{
    left: 0;
  }

  &.active {
    .nav{
      display: block;
			transition: display 0s, opacity 0.5s linear;
    }
    
    .nav-tgl {
      > span {
        height: 0;
        &:after, &:before {
          top: 0px;
          left: 0;
          width: $divider-width;
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .nav-tgl {
    display: inline-block;
    cursor: pointer;
    z-index: 100;
    width: $header-height;
    height: $header-height;
    padding: 0;
    background: #fff;
    border: none;
    line-height: 0.6;
    text-align: center;
    
    // making the dividers
    
    span {
      // the second divider
      display: inline-block;
      position: relative;
      height: $divider-height;
      width: $divider-width;
      border-radius: 1px;
      background: $divider-color;
      vertical-align: middle;
      
      // the first & the third dividers
      &:before, &:after {
        display: inline-block;
        position: absolute;
        content: "";
        width: $divider-width;
        height: $divider-height;
        background:  $divider-color;
        // for the hover state
        transition: all 200ms;
      }
      &:before {
        top: -$divider-space;
        left: -$divider-space/2;
      }
      &:after {
        top: $divider-space;
        left: $divider-space/2;
      }
    }
    
    // ofcorse we should find a replacement for the focus state but it's not our topic
    &:focus {outline: none}
    
    &:hover > span:after, &:hover > span:before {
      width: $divider-width;
      left: 0;
    }
  }

  .nav {
    display: none;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F2F2F2;
    padding: 116px 294px;
    ul{
      list-style-type: none;
      &.link{
        a{
          font-weight: bold;
          font-size: 27px;
          line-height: 52px;
          /* or 194% */
          letter-spacing: 1.96888px;
          
          color: #FFD500;
        }
      }
      &.lang{
        text-align: right;
        li{
          display: inline;
          padding: 0 5px;
          a{
            font-weight: bold;
            font-size: 13.9258px;
            line-height: 10px;
            text-align: right;
            letter-spacing: 1.01549px;
          }
        }
      }
    }
  }
}


