.modal-mask {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  background-color: rgba(200, 200, 200, 0.6);

  .modal {
    position: absolute;
    top: 100px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 7px;
    width: 33%;
    min-width: 400px;
    transition: all 0.3s ease;
    padding: 0 20px 20px 20px;
    .modal-close {
      background: #ffffff;
      border: none;
      text-align: center;
      width: 35px;
      height: 35px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      cursor: pointer;
      &:hover {
        // Todo
        background: #ff3344;
      }
    }
    .modal-content{
        max-height: 70vh;
        overflow: hidden;
        overflow-y: auto;
    }
  }
}
