$size: 40px;
.option-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $size;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li{
    padding: 0;
    width: $size;
  }
  input {
    display: none;
    &:checked ~ label {
      .i{
        background-color: $primary;
      }
    }
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    cursor: pointer;
  }
}
