.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.search-bar-right,
  &.search-bar-left {
    position: absolute;
    top: 0;
  }
  &.search-bar-right {
    right: 0;
  }
  &.search-bar-left {
    left: 0;
  }

  #search-btn {
    background: #ffffff;
    width: 90px;
    height: 90px;
    padding: 0;
    border: none;
  }
  #search-field {
    width: 230px;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(0deg, #ffffff, #ffffff), #f3f3f3;
    line-height: 0;
    font-weight: 800;
  }
  .search-bar-result {
    position: fixed;
    top: 115px;
    left: 75px;
  }
}
