//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

// Color
//------------------------------------------------------------------------------
$primary: #FFD500;
$secondary: #FF6A40;
$alert: #FF003C;
$warning: #ffa41e;
$success: #288033;
$info: #31c3ff;
$light: #F2F2F2;
$dark: #030205; 

$white: #fff;
$black: #000;

// Typography variables
//------------------------------------------------------------------------------
$font-family: 'Montserrat', 'Helvetica', sans-serif;
$base-font-size: 14.067px;
$base-font-weight: 400;
$base-letter-spacing: 0.05em;
$base-line-height: 1.68;

$bold: 800;

// h1
//------------------------------------------------------------------------------
$h1-font-size: 55.7px;
$h1-line-heights: 57px;
$h1-letter-spacing: 3.6px;

// h2
//------------------------------------------------------------------------------
$h2-font-size: 30px;
$h2-line-heights: 48px;
$h2-letter-spacing: 3.342px;

// h3
//------------------------------------------------------------------------------
$h3-font-size: 22.1053px;
$h3-line-heights: 11px;
$h3-letter-spacing: 2.58px;

// Trocosum Global Width
//------------------------------------------------------------------------------
$site-width: calc(100% - 150px);